.checkoutProduct {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}

.checkout__products {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: wrap;
}
.checkoutProduct__left-section > img {
  height: 85%;
  width: 100px;
  object-fit: contain;
}

.checkoutProduct__right-section {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  justify-content: space-between;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__rating {
  display: flex;
}
.checkoutProduct__right-section > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  align-self: flex-start;
}
